:root {
  --primary-color:#1c3112;
  --secondary-color:#0C4B41;
  --tertiary-color:#3CB371;
  --quaternary-color:#CBD5A9;
  --quinary-color:#29374D;
}

img.socialIcon {
  height: 24px;
  width: 24px;
}
/* email link */
a.email {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: 0.4s;
}
/* mouse over link */
a.email {
  margin-left: 4px;
}
a.email:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
  text-decoration: none;
}
a:hover {
  color: var(--tertiary-color);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--quaternary-color);
}
