@media (prefers-color-scheme: light) {
  :root {
    --primary-color:#1c3112;
    --secondary-color:#0C4B41;
    --tertiary-color:#3CB371;
    --quaternary-color:#CBD5A9;
    --quinary-color:#29374D;
    --error-color:#f87171;
    --error-text:#7f1d1d;
    --dark-text: #1f2739;
    --light-text: #CBD5A9;
  }
  .edit-txt-btn:hover {
    background-color: var(--quaternary-color);
    color: var(--dark-text);
  }
  .edit-txt-btn {
    border: solid 1px;
    border-radius: 8px;
    border-color: var(--quaternary-color);
    color: var(--dark-text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color:#1c3112;
    --secondary-color:#0C4B41;
    --tertiary-color:#3CB371;
    --quaternary-color:#CBD5A9;
    --quinary-color:#29374D;
    --error-color:#7f1d1d;
    --error-text:#f87171;
    --dark-text: #a6adba;
    --light-text: #29374D;
  }
  .edit-txt-btn:hover {
    background-color: var(--quaternary-color);
    color: var(--light-text);
  }
  .edit-txt-btn {
    border: solid 1px;
    border-radius: 8px;
    border-color: var(--quaternary-color);
    color: var(--dark-text);
  }
}



.delete-txt-btn:hover {
  background-color: var(--error-color);
  color: var(--error-text);
}
.delete-txt-btn {
  border: solid 1px;
  border-radius: 8px;
  border-color: var(--error-color);
  color: var(--dark-text);
}

img.socialIcon {
  cursor:pointer;
  height: 24px;
  width: 24px;
}

/* email link */
a.email {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: 0.4s;
}
/* mouse over link */
a.email {
  margin-left: 4px;
}
a.email:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
  text-decoration: none;
}
a:hover {
  color: var(--tertiary-color);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--quaternary-color);
}

img.copyIcon {
  border-radius: 50%;
  padding: 3px 3px;
}

img.copyIcon:hover {
  background-color: hsla(170, 72%, 17%, 0.5);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.copyTooltip {
  visibility: hidden;
  width: 100px;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .copyTooltip {
  visibility: visible;
}


.double-border::before {
  content: '';
  position: absolute;
  top: -6px; /* Adjust as needed */
  left: -6px; /* Adjust as needed */
  right: -6px; /* Adjust as needed */
  bottom: -6px; /* Adjust as needed */
  border: 2px solid blue; /* Second border color */
}